.App {
}

.solar-term-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  background-position: center;
  background-size: cover;
  color: #f1f1f1;
  text-shadow: #000 0.1em 0.1em 0.2em;
  font-size: 16px;
}

.solar-term-item .content {
  flex: 1;
}

.solar-term-item .name {
  font-size: 40px;
  margin-right: 16px;
}

.solar-term-item .desc {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 44px;
  /* transition: all 1000ms; */
}
.solar-term-item.active {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 16px rgb(0, 0, 0, 1);
}
.solar-term-item.active .desc {
  max-height: 300px;
}
